@{
    ViewBag.Title = "Trần Quang Tiến";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi giữa kỳ của Trần Quang Tiến </h3>

<address>
    K22cnt2 - môn lập trình web với ASP.net - MVC 5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Trantien@example.com">trantien@example.com</a><br />
    <strong>cá nhân:</strong> <a href="mailto:trantien@example.com">trantien@example.com</a>
</address>