
@{
    ViewBag.Title = "addstudent";
}

<h2>addstudent</h2>
@{Html.BeginForm("insert","TRANQUANGTIENSTU")} 
@Html.Label("ma sinh vien");
@Html.TextBox("ho va ten","tran tien");

@{Html.EndForm();}  
