
@{
    ViewBag.Title = "addstudent";
}

<h2>addstudent</h2>
@{Html.BeginForm("insert","TRANQUANGTIENSTU")} 
@Html.Label("ma sinh vien");
@Html.TextBox("ho va ten","tran tien");

@{Html.EndForm();}  
@{ 
    int[] names = { 10, 30, 21, 23, 23 };
    foreach{ var item in names }
    <li>@item</li>
}